* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: rgb(22, 20, 41);
    font-family: 'poppins';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.navl ink {
    /* margin-left: -50px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.hero {
    text-align: center;
}

section div form {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
}