@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --stroke: #626262;
    --white: #ffffff;
    --bg: #323232;
}

a {
    text-decoration: none;
    color: var(--white);
}

body {
    color: white;
    background: var(--bg);
    font-family: 'poppins';
    scroll-behavior: smooth;
}

.buy-me-coffee {
    position: absolute;
    right: 3%;
    bottom: 5%;
    position: fixed;
    z-index: 99;
}

hr {
    border: 0.5px solid var(--stroke);
    margin: 2rem 0;
}

main {
    display: flex;
    column-gap: 25px;
}

.hero-img .big-img {
    height: 100vh;
}

.img-mobile {
    display: none;
}

.bio {
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.bio h1 {
    font-family: 'Alkatra';
    margin-bottom: 3rem;
}

.bio p {
    margin-bottom: 0.75rem;
}

.socials a {
    color: var(--white);
    text-decoration: none;
    margin-right: 20px;
}

.socials a i {
    font-size: x-large;
}

.project-wrapper {
    margin: 0 10%;
}

.project-wrapper h2, .skillset-wrapper h2 {
    text-align: center;
    font-family: 'Platypi', serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 4rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.projects article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 2px dashed var(--stroke);
    gap: 2rem;
}

.projects img {
    width: 100%;
}

.projects article strong {
    text-align: center;
}

.projects .used-tech {
    color: #bababa;
    text-align: center;
    margin-top: -1.5rem;
}

.projects .proj-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111111;
    padding: 10px 40px;
    border-radius: 8px;
    gap: 15px;
    width: 100%;
}

.proj-link i {
    font-size: 1.5rem;
}

.active_links a i:hover {
    color: gray;
}

.skillset-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 90%;
}

.technologies p {
    padding: 10px 30px;
    background: #111111;
    border-radius: 6px;
}

.my-copy {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

footer p {
    color: #aeaeae;
}

/* media query for smaller screen size - tablet & ipads */

@media (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablet screens */
    
    main {
        margin: 20px;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .bio {
        margin: 0;
        align-items: center;
        row-gap: 0;
    }

    .hero-img img {
        width: 85vw;
        height: auto;
        margin-bottom: 2rem;
    }

    .bio h1 {
        margin-bottom: 1rem;
    }

    .bio-info {
        margin-bottom: 2rem;
    }

    .big-img {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .project-wrapper {
        margin: 0 5%;
    }

    .projects {
        gap: 1rem;
    }

    .proj-link {
        font-size: 20px;
    }
}


/* media query for mobile screen size */

@media (max-width: 767px) {
    /* Styles for mobile devices */
    /* This will apply styles for screens up to 767 pixels wide */

    main {
        margin: 20px;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .bio {
        margin: 0;
        align-items: center;
        row-gap: 0;
    }

    .hero-img img {
        width: 80vw;
        height: auto;
        border: 2px solid transparent;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Initial box shadow */
        animation: glow 1.5s infinite alternate; /* Apply animation */
    }

    @keyframes glow {
        from {
          box-shadow: 0 0 10px 0 rgba(26, 108, 250, 0.5); /* Initial box shadow */
        }
        to {
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); /* Final box shadow (glow effect) */
        }
      }

    .bio h1 {
        margin-bottom: 1rem;
    }

    .bio-info {
        margin-bottom: 2rem;
    }

    .big-img {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .project-wrapper h2, .skillset-wrapper h2 {
        font-size: 24px;
    }

    .project-wrapper {
        margin: 0 2.5%;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .my-copy p {
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
    }
}