* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0, 20px;
    color: white;
    background: rgb(7, 0, 99);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(128, 128, 128, 0.349);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(125, 198, 254);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
}